## Deliverable 3. Create a Travel Itinerary Map.

In [9]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets
import numpy as np

# Import API key
from config2 import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Eureka,US,51.01,clear sky,40.8021,-124.1637,Eureka Inn Trademark By Wyndham
1,1,Bembereke,BJ,71.71,clear sky,10.2283,2.6634,Hotel Bio Guera
2,3,Cape Town,ZA,70.00,few clouds,-33.9258,18.4232,"Radisson Blu Hotel Waterfront, Cape Town"
3,4,New Norfolk,AU,66.00,scattered clouds,-42.7826,147.0587,The Shingles Riverside Cottages
4,5,Kapaa,US,73.40,scattered clouds,22.0752,-159.3190,Sheraton Kauai Resort at Coconut Beach

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and high of {Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [52]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City']== 'Katherine']
vacation_end = vacation_start
vacation_stop1 = vacation_df.loc[vacation_df['City']== 'Geraldton']
vacation_stop2 = vacation_df.loc[vacation_df['City']== 'Ulladulla'] 
vacation_stop3 = vacation_df.loc[vacation_df['City']== 'Port Lincoln']

In [53]:
vacation_start = vacation_df.loc[vacation_df['City']== 'Katherine']
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
233,458,Katherine,AU,75.2,light rain,-14.4667,132.2667,Pine Tree Motel

In [54]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0],vacation_start["Lng"].to_numpy()[0]
end = start
stop1 = vacation_stop1["Lat"].to_numpy()[0],vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0],vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0],vacation_stop3["Lng"].to_numpy()[0]

In [55]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
fig_trip= gmaps.figure()
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
itinerary= gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode="DRIVING")
#add direction layer
fig_trip.add_layer(itinerary)

#show fig
fig_trip

Figure(layout=FigureLayout(height='420px'))

In [56]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3, vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,458,Katherine,AU,75.20,light rain,-14.4667,132.2667,Pine Tree Motel
1,190,Geraldton,AU,73.40,broken clouds,-28.7667,114.6000,Broadwater Mariner Resort
2,587,Ulladulla,AU,77.00,broken clouds,-35.3500,150.4667,Sandpiper Motel
3,99,Port Lincoln,AU,62.55,overcast clouds,-34.7333,135.8667,Port Lincoln Hotel
4,458,Katherine,AU,75.20,light rain,-14.4667,132.2667,Pine Tree Motel

In [57]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and high of {Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info_itinerary = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations_itinerary = itinerary_df[["Lat", "Lng"]]

In [58]:
# 11a. Add a marker layer for each city to the map.
fig_info = gmaps.figure(center=(-32.0, 151), zoom_level=7)
marker_layer_itinerary = gmaps.marker_layer(locations_itinerary, info_box_content=hotel_info_itinerary)
fig_info.add_layer(marker_layer_itinerary)
# 11b. Display the figure
fig_info

Figure(layout=FigureLayout(height='420px'))